<div class="search__div">
  <h1>Search for a Movie</h1>
</div>

<form
  class="search__form"
  #searchForm="ngForm"
  (ngSubmit)="emitSearchEvent(searchForm)"
>
  <input
    class="search__input"
    type="text"
    name="searchTerm"
    id="searchTerm"
    placeholder="Search for a movie..."
    ngModel
  />
  <select [(ngModel)]="selectedGenre" name="selectedGenre">
    <option [ngValue]="null" disabled>Filter By Genre</option>
    <option *ngFor="let genre of genres | async" value="{{ genre.id }}">
      {{ genre.name }}
    </option>
  </select>
  <select [(ngModel)]="selectedRating" name="selectedRating">
    <option [ngValue]="null" disabled>Filter By Rating</option>
    <option *ngFor="let rating of ratings" value="{{ rating }}">
      {{ rating }}
    </option>
  </select>
  <input
    class="searchYear"
    type="text"
    name="searchYear"
    id="searchYear"
    placeholder="Search By Year"
    type="number"
    ngModel
  />

  <button class="search__button">Search</button>
  <a class="watchList-link" routerLink="/watchlist">Watchlist</a>
</form>
