.searchResults__div {
  margin: 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.searchResults__img {
  height: 250px;
  margin: 10px 0;
  padding: 8px;
  margin: 4px;
  border-radius: 20px;
  border: 4px ridge#0b9074;
  padding: 8px;
  margin: 4px;
  border-radius: 20px;
  border: 4px ridge#0b9074;
  background-color: white;
}

.addToWatchlist__button {
  background-color: #0b9074;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  display: block;
}

.hide {
  display: none;
}

.addToWatchlist__p {
  width: 200px;
  font-style: italic;
  text-align: center;
}
