.searchResults__div {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.searchResults__h4 {
  width: 80%;
  text-align: center;
}

.searchResults__img {
  margin: 10px 0;
  padding: 8px;
  margin: 4px;
  border-radius: 20px;
  border: 4px ridge#0b9074;
  padding: 8px;
  margin: 4px;
  border-radius: 20px;
  border: 4px ridge#0b9074;
  background-color: white;
}

.searchResults__img:hover {
  filter: opacity(75%) grayscale(30%);
}

.addToWatchlist__button {
  background-color: #0b9074;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  display: block;
  transition-duration: 0.3s;
}

.addToWatchlist__button:hover {
  background-color: #ffffff;
  color: #0b9074;
  border: 2px solid #0b9074;
}

.hide {
  display: none;
}

.addToWatchlist__p {
  width: 200px;
  font-style: italic;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .searchResults__div {
    margin: 10px;
  }
}
