.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-bottom: 5px ridge #0b9074;
}

.header__logo {
  width: 1000px;
}

@media only screen and (max-width: 768px) {
  .header__logo {
    width: 100%;
  }
}
