.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
}

.header__logo {
  width: 100%;
}

.header__watchlist-link:hover {
  cursor: pointer;
}

.header__watchlist-link:visited {
  text-decoration: none;
  color: #ffffff;
}

.header__watchlist-link:active {
  text-decoration: none;
  color: #ffffff;
}
