@font-face {
  font-family: redoura;
  src: url("../fonts/Redoura.ttf");
}

.watchlist__div {
  width: 100%;
}

.watchlist-header__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: redoura;
  color: #0b9074;
  padding: 5px;
  margin-left: 25px;
  font-size: 50px;
}

.home-link {
  background-color: #0b9074;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  margin: 0 25px;
  transition-duration: 0.3s;
}

.home-link:hover {
  background-color: #ffffff;
  color: #0b9074;
  border: 2px solid #0b9074;
}

.watchlist__list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

ul > :first-child {
  margin-left: 0;
}

.watchlist__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 20px 20px;
}

.removeFromWatchlist__button {
  background-color: #0b9074;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  display: block;
  transition-duration: 0.3s;
}

.removeFromWatchlist__button:hover {
  background-color: #ffffff;
  color: #0b9074;
  border: 2px solid #0b9074;
}

.watchlist__img {
  margin: 10px 0;
  padding: 8px;
  margin: 4px;
  border-radius: 20px;
  border: 4px ridge#0b9074;
  padding: 8px;
  margin: 4px;
  border-radius: 20px;
  border: 4px ridge#0b9074;
  background-color: white;
}

.watchlist__img:hover {
  filter: opacity(75%) grayscale(30%);
}

@media only screen and (max-width: 768px) {
  .watchlist__list {
    flex-direction: column;
    align-items: center;
  }

  ul > :first-child {
    margin-left: 20px;
  }
}
