@font-face {
  font-family: redoura;
  src: url("../src/app/fonts/Redoura.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6fffa;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

button,
input {
  font-family: "Poppins", sans-serif;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-family: redoura;
  font-size: 50px;
}
