@font-face {
  font-family: redoura;
  src: url("../src/app/fonts/Redoura.ttf");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}

button,
input {
  font-family: "Poppins", sans-serif;
}
