<app-header></app-header>

<div class="peopleInfoHeader__div">
  <h1>Actor Info</h1>
  <a class="home-link" routerLink="/home">Home</a>
</div>

<div class="info-container">
  <h2>{{ people.name }}</h2>
  <img
    class="searchResults__img"
    src="https://image.tmdb.org/t/p/w200{{ people.profile_path }}"
    alt="Actor Poster"
  />
  <p class="peopleInfo__p">
    <span class="peopleInfo__span">Birthday:&nbsp;&nbsp;</span
    >{{ people.birthday }}&nbsp;&nbsp;|&nbsp;&nbsp;
    <span class="peopleInfo__span">Place of Birth:&nbsp;&nbsp;</span>
    {{ people.place_of_birth }}
  </p>
  <p class="peopleInfo__p">
    <span class="peopleInfo__span">
      Popularity Rating (out of 100):&nbsp;&nbsp;</span
    >
    {{ people.popularity }}
  </p>
  <p class="peopleInfo__p">
    <span class="peopleInfo__span">Biography:&nbsp;&nbsp;</span>
    {{ people.biography }}
  </p>
</div>

<app-footer></app-footer>
